<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.github.kunimido.up-to-date</string>
	<key>ProgramArguments</key>
	<array>
		<string>$INSTALL/up-to-date.sh</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Weekday</key>
			<integer>0</integer>
			<key>Hour</key>
			<integer>7</integer>
		</dict>
		<dict>
			<key>Weekday</key>
			<integer>6</integer>
			<key>Hour</key>
			<integer>7</integer>
		</dict>
	</array>
</dict>
</plist>
